<div class="flex-container" align="center">
    <button (click)="startNewGame()">new Game</button>
    <table [class.curtain]="CounterEnded" (click)="RaiseCurtain()">
        <tr *ngFor="let row of [0, 1, 2, 3]">
            <td *ngFor="let col of [0, 1, 2, 3]">{{cubes[row][col]}}</td>
        </tr>
    </table>
</div>
<h1 *ngIf="intervalId">{{timer}}s</h1>