.flex-container {
  margin-bottom: 8vmin;
  font-size: 20vmin;
}

table {
  height: 90vmin;
  width: 90vmin;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.curtain {
  background-color: rgba(0, 0, 0, 0.6);
}

td {
  width: 10vmin;
  height: 10vmin;
  font-size: 10vmin;
  border: 3px solid black;
  font-family: monospace;
  text-align: center;
}
h1 {
  color: green;
  font-size: 8vmin;
  text-align: center;
  margin-block-end: 0;
  margin-block-start: 0;
}
@media only screen and (orientation: landscape) {
  .flex-container {
    margin-bottom: 2vmin;
    font-size: 0;
  }

  table {
    width: 80vh;
    height: 80vh;
    font-size: 16vmin;
  }
}

* {
  user-select: none;
}
